body {
    transform: translateX(520px);
}

#two #e {
    width: 69px;
}

.alphabet {
    overflow-x: hidden;
}

#about {
    display: block;
    margin: auto;
    z-index: 10;
    position: absolute;
    top: 700px;
    transform: translateX(-180px);
}

#about p {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-size: 15pt;
    line-height: 1.9em;
}

.caption {
    margin-top: 200px;
    font-size: 9pt;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: #8c8c8c;
}

a:visited {
    text-decoration: none;
    color: #8c8c8c;
}

a:hover {
    text-decoration: none;
    color: #000000;
}